@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Guji', sans-serif; */
  display: flex; /*하위 태그들을 정렬*/
  flex-direction: column; /*전체 세로 정렬*/
  justify-content: center; /*가로방향 정렬*/
  align-items: center; /*세로방향 정렬*/
  height: 100vh;
  overflow: hidden;
}
