@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url(https://images.unsplash.com/photo-1581562324420-eff2f5aaa4b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2564&q=80)
    no-repeat center center/cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: blur(0px);
    position: absolute; /* 위로 뜬 상태 */
    top: 0;
    left: 0;
    z-index: -1;
}

.loading-text{
    color: white;
    font-size: 50px;
}